.main section {
  width: 100vw;
  height: 100dvh;
}

.splash {
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-inter);
  display: grid;
  place-items: center;
}

.splash h1 {
  transform-origin: center;
  transform: scaleY(4);
  font-size: 6vw;
}

.scrollIcon {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

.landing {
  background: var(--color-white);
  color: var(--color-black);
  padding: 5em 4em;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  gap: 12em;
}

.landing div:nth-child(-n + 2) {
  z-index: 100;
}

.aboutDeco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.aboutDeco * {
  object-fit: cover;
}

.landingHeader {
  font-family: var(--font-ravigsfen);
  font-size: 6rem;
}

.landingHeader h1 {
  display: flex;
  flex-direction: column;
}

.landingHeader h1 span {
  width: 100%;
}

.landingHeader h1 span:nth-child(2) {
  text-align: right;
}

.landingImg {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}

.illustration {
  background: #c24e1d;
  width: 50%;
  height: 90%;
}

.landingImgText {
  width: 50%;
  text-align: right;
  padding: 0 0.2em;
}
