.main section {
  width: 100vw;
  height: 100dvh;
}

.splash {
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-inter);
  display: grid;
  place-items: center;
}

.splash h1 {
  transform-origin: center;
  transform: scaleY(4);
  font-size: 6vw;
}

.scrollIcon {
  position: absolute;
  bottom: 2em;
  right: 2em;
}
